/* Media Queries - Home Page */
@media screen and (min-width: 400px) {
    header,
    .fa-brands {
      display: flex;
      justify-content: center;
      margin-right: 30px;
      padding: 5px;
    }
  
    header label {
      margin-left: 220px;
    }
  
    nav ul {
      display: block;
      padding: 10px 10px;
      background: #dddddd;
    }
  
    nav li {
      padding: 20px 25px;
    }
  
    .logo {
      width: 150px;
    }
  
    svg {
      display: none;
    }
  }
  
  @media (min-width: 600px) {
    nav {
      display: flex;
      position: static;
    }
  
    nav ul {
      display: flex;
    }
  
    .logo {
      width: 180px;
    }
  
    nav li {
      display: flex;
      justify-content: space-evenly;
      padding: 0px 50px;
    }
  
    svg {
      display: flex;
      margin-right: 5px;
      margin-left: -5px;
    }
  
    h1 {
      display: flex;
      justify-content: center;
    }
  
    header label {
      display: none;
    }
  
    img {
      display: flex;
      justify-content: space-between;
      max-width: 420px;
      margin-bottom: 40px;
    }
  
    .photos {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  
    .photo-chair {
      margin-top: 0px;
      height: 280px;
    }
  
    .photo a {
      white-space: nowrap;
      padding: 5px 90px;
      margin: 180px;
    }
  }
  
  @media (min-width: 800px) {
    nav li {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 0px 110px;
    }
  
    .logo {
      width: 200px;
    }
  
    .photos {
      display: flex;
      flex-direction: row;
    }
  }
  
  /* Media Query - List of Games Page */
  @media (min-width: 400px) {
    .product-list {
      display: flex;
      flex-direction: column;
    }
  }
  
  @media (min-width: 600px) {
    .product-list {
      display: grid;
      column-gap: 70px;
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 800px) {
    .product-list {
      display: grid;
      column-gap: 100px;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
  
  /* Media queries - About us page */
  @media (min-width: 400px) {
    .about {
      max-width: 350px;
    }
  }
  
  @media (min-width: 600px) {
    .about {
      max-width: 490px;
    }
  }
  
  @media (min-width: 800px) {
    .about {
      max-width: 600px;
    }
  }
  
  /* Media query - Contact us page */
  @media (min-width: 400px) {
    input,
    #text-box {
      margin: 10px 90px;
    }
  
    .contact p {
      display: flex;
      justify-content: center;
      font-size: 20px;
    }
  }
  
  @media (min-width: 600px) {
    input,
    #text-box {
      margin: 10px 200px;
    }
  
    .contact p {
      font-size: 30px;
      margin: 25px;
    }
  }
  
  @media (min-width: 800px) {
    .contact p {
      font-size: 40px;
    }
  }
  
  /* Media Query - You cart page */
  @media (min-width: 400px) {
    .product-photo {
      display: flex;
      flex-direction: column;
      grid-template-columns: 1fr;
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 0 30px 50px;
      align-items: center;
    }
  
    .product-price {
      font-size: 30px;
    }
  
    .number p {
      margin-left: 10px;
      margin-top: 10px;
    }
  
    .cart {
      font-size: 15px;
    }
  }
  
  @media (min-width: 600px) {
    .product-photo {
      height: 560px;
      width: 380px;
    }
  
    .pingpong-photo p {
      display: inline-block;
      vertical-align: top;
      font-size: 30px;
    }
  
    .games {
      display: inline-block;
    }
  
    #buy {
      position: absolute;
      padding: 8px;
    }
  
    select {
      margin-left: 110px;
      margin-top: -50px;
    }
    .easy {
      margin: 0 auto;
      padding-top: 60px;
    }
  
    .number p {
      margin-top: -130px;
      margin-left: 100px;
      font-size: 30px;
    }
  
    .cart {
      font-size: 20px;
    }
  }
  
  @media (min-width: 800px) {
    .product-photo {
      display: flex;
      height: 500px;
      width: 800px;
    }
  
    .pingpong-photo p {
      font-size: 40px;
    }
  
    .pingpong-photo img {
      width: 180px;
    }
  
    .cart {
      font-size: 25px;
    }
  
    .number p {
      margin-top: -150px;
      margin-left: 100px;
      font-size: 40px;
    }
  
    #buy {
      position: absolute;
      width: 50px;
      margin-top: -90px;
    }
  }
  
  /* Thank you page */
  @media (min-width: 400px) {
    h2 {
      font-size: 20px;
    }
    .continue {
      padding: 8px 70px 8px 70px;
    }
  }