@font-face {
    font-family: "New Peninim MT";
    src: url("/fonts/new-peninim-mt-bold-2.woff") format("woff");
}

body {
    font-family: 'New Peninim MT', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    font-size: 90%;
    background-color: #dddddd;
}

header {
    display: flex;
    align-items: left;
    justify-content: space-around;
    text-decoration: none;
    padding: 8px 0px 8px 0px;
}

nav {
    display: none;
    background-color: #dddddd;
    padding: 0px 40px;
    margin-right: 25px;
    z-index: 1000;
}

nav li {
    display: block;
    padding: 10px 10px;
}

.photos a:hover {
    background-color: rgb(90, 172, 235);
}

nav svg {
    display: block;
    width: 15px;
}

ul {
    padding: 0px;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

#hamburger-menu {
    display: none;
}

.yellow {
    display: flex;
    background-color: #F2B705;
    padding-top: 25px;
    padding-bottom: 0px;
    justify-content: center;
    border-style: solid;
    border-color: rgb(204, 199, 199);
}

.logo {
    width: 200px;
}

h1 {
    font-family: 'Tahoma', Geneva, Verdana, sans-serif;
    background-color: #3D5EE8;
    color: #ffffff;
    line-height: 25px;
    text-align: center;
    padding: 6px 5px;
    font-size: 1.5em;
    margin: 25px 50px 0px 50px; 
}

img {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    margin-bottom: 40px;
}

.photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.photo {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.photo-chair {
    height: 200px;
    margin-top: -20px;
}

.photos a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    padding: 5px 50px;
    background:transparent;
    border-radius: 40px;
    border-width: 2px;
    border-color: #FFFFFF;
    border-style:solid;
    position: absolute;
}

.photo a {
    display: flex;
    margin-top: 120px;
}

svg:hover {
    cursor: pointer;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.fa-brands {
    font-size: 30px;
    padding: 15px;
}

i {
    color: #070606;
    margin: 0px;
    width: 30px;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #070606;
    color: #FFFFFF;
}

@media (min-width: 600px){
    .logo {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 250px;
    }

    nav a {
        display: flex;
        margin: 0px 50px 0px 3px;
        text-decoration: none;
        color: #070606;
    }

    nav {
        display: flex;
        flex-direction: row;
        padding: 0px 120px;
        margin: -30px 170px -0px -50px;
    }

    nav li {
        display: flex;
        align-items: center;
        font-size: 1em;
        font-weight: bold;
        padding-left: 190px;
        margin-bottom: -30px;
    }

    ul {
        display: flex;
        list-style: none;
        padding: -30px;

    }

    svg {
        font-weight: bold;
        color: #070606;
    }


    h1 {
        padding: 10px 10px;
        margin: 20px 110px;
    }

    .yellow {
        padding: 10px 10px;
    }

    header label {
        display: none;
    }

    img {
        display: flex;
        justify-content: space-between;
        max-width: 420px;
        margin-bottom: 40px;
    }

    .photos {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .photo-chair {
        margin-top: 0px;
        height: 280px;
    }

    .photo a {
        padding: 5px 90px;
        margin: 180px
    }

    .social-media {
        display: flex;
        justify-content: right;
        height: 100%;
    }

    .fa-brands {
        font-size: 40px;
    }

    @media (min-width: 1600px){
    .social-media {
        display: flex;
        justify-items: right;
        padding: 175px;
        margin-bottom: -20px;
    }

    .fa-brands {
        margin: 30px;
        font-size: 60px;
        padding: 10px;
    }


    }

}
