@font-face {
    font-family: "New Peninim MT";
    src: url("/fonts/new-peninim-mt-bold-2.woff") format("woff");
}

body {
    font-family: 'New Peninim MT', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    font-size: 90%;
    background-color: #dddddd;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

nav {
    display: none;
    padding: 0px 40px;
    font-weight: bold;
    margin-right: 25px;
    z-index: 1000px;
}

nav li {
    display: block;
    padding: 20px 30px;
}

nav svg {
    text-align: center;
    margin: 0px 2px 0px 0px;
    width: 20px;
}

ul {
    display: block;
    list-style: none;
    align-items: center;
    margin: 5px -10px;
    padding: 0px;
}

li a {
    text-decoration: none;
    color: #070606;
    margin: 0px 120px 0px 10px;
}


#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}


.yellow {
    display: flex;
    background-color: #F2B705;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    border-style: solid;
    border-color: rgb(204, 199, 199);
}

.logo {
    width: 200px;
}

h1 {
    font-family: 'Tahoma', Geneva, Verdana, sans-serif;
    background-color: #3D5EE8;
    color: #ffffff;
    line-height: 25px;
    text-align: center;
    padding: 6px 5px;
    font-size: 1.5em;
    margin: 25px 50px 0px 50px; 
}

img {
    max-width: 400px;
}

.photos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo {
    margin-top: 30px;
}

.photo-chair {
    height: 266px;
    margin-top: -40px;
}

.photo-deal {
    padding: 10px;
    margin-top: -130px;
}

.photos a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    padding: 5px 90px;
    background:transparent;
    border-radius: 40px;
    border-width: 2px;
    border-color: #FFFFFF;
    border-style:solid;
    position: absolute;
    margin: -170px;

}

.cta-button-deals :hover {
    background-color: #7192efb4;
}

.cta-button-games :hover {
    background-color: #7192efb4;
}

.cta-button-vg :hover {
    background-color: #7192efb4;
}

svg:hover {
    cursor: pointer;
}

.cta-button-vg {
    padding: 0px;
    margin-top: 90px;
    margin-left: 10px;
}

.cta-button-games {
    padding: 90px;
    margin-left: 40px;

}

.cta-button-deals {
    margin-left: 80px;
    margin-top: 80px;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.fa-brands {
    font-size: 30px;
    padding: 15px;
}

i {
    color: #070606;
    margin: 0px;
    width: 30px;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #070606;
    color: #FFFFFF;
}

@media (min-width: 600px){
    .logo {
        width: 300px;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        padding: 0px 60px;
    }

    nav li {
        padding: 0px;
    }

    ul {
        display: flex;
        margin: 5px 5px;
        list-style: none;
        padding: 0px 100px;
    }

    header label {
        display: none;
    }

    .photos {
        display: grid;
        margin-left: 50px;
    }

    .photo {
        justify-self: left;
        margin-top: 30px;
    }

    .photo-two {
        margin-top: -410px;
        text-align: center;
        margin-right: 30px;
    }

    .photo-deal {
        justify-self: right;
        margin-top: -630px;
        margin-right: 80px;
        width: 340px;

    }

    .cta-button-vg {
        justify-self: left;
        margin-left: 210px;
    }

    .cta-button-games {
        justify-self: center;
        margin-top: -90px;

    }

    .cta-button-deals {
        justify-self: right;
        margin-right: 180px;
        margin-top: -170px;
    }

    h1 {
        margin-right: 35px;
    }

    .social-media {
        display: flex;
        justify-content: right;
        margin: 0px 80px 0px;
        padding: 20px;
        height: 100%;
    }

    .fa-brands {
        font-size: 40px;
        padding: 20px;
    }

    @media (min-width: 1600px){
    .social-media {
        display: flex;
        justify-items: right;
        padding: 175px;
        margin-bottom: -20px;
    }

    .fa-brands {
        margin: 30px;
        font-size: 60px;
        padding: 10px;
    }


    }

}
